
    <div class="container">
        <div class="sidebar">
            <img src="https://i.ibb.co/R6Xh8rd/logo-removebg-preview.png" alt="Logo">
            <h2>Sobre Nosotros</h2>
        </div>
        <div class="content">
            <h1>Bienvenidos a Porita Coffee</h1>
            <p>En Poritta Coffee, creemos que una buena taza de café puede transformar tu día. Nuestra misión es crear un espacio acogedor donde puedas relajarte, trabajar o pasar un rato agradable con amigos y familia, disfrutando de una excelente selección de cafés, comidas y bebidas.</p>
            <p>Nos enorgullece ofrecer una variedad de platillos para satisfacer todos los gustos. Nuestro menú está diseñado para complementar perfectamente tu bebida favorita.</p>
            <h2>Nuestra Historia</h2>
            <p>Fundada en 2024, Porita Coffee nació de la pasión por el café y el deseo de ofrecer una variedad de platillos y bebidas deliciosas. Desde nuestros humildes comienzos, hemos crecido gracias al apoyo de nuestros maravillosos clientes y la dedicación de nuestro increíble equipo.</p>
            <h2>Nuestro Equipo</h2>
            <p>El equipo de Poritta Coffee está compuesto por cocineros talentosos que se esfuerzan por brindarte la mejor experiencia posible. Creemos en la importancia de un servicio amable y personalizado, y nos encanta ver a nuestros clientes pedir nuestros alimentos una y otra vez,</p> 
        </div>
    </div>
    
    
    
