/* .carousel-item img {
    filter: brightness(70%); 
}

.carousel-caption {
    bottom: 20%;
}

.carousel-title {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #ffbb00;
}

.carousel-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.card-body {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card {
    border: none;
    background: transparent;
}

.card:hover .card-body {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-title {
    color: #333333;
    font-weight: 700;
    margin-top: 10px;
}

.card-img-top {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-link {
    text-decoration: none;
}

.card-link:hover .card-title {
    color: #ffbb00; 
} 

 */



/* Estilo general para la navbar */
.nav {
    background-color: #333; /* Fondo oscuro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px;
  }
  
  /* Estilo para los ítems de la navbar */
  .nav-item {
    margin: 0 15px; /* Espacio entre los ítems */
  }
  
  .nav-link {
    color: #fff; /* Color blanco para el texto */
    font-weight: bold; /* Texto en negrita */
    font-size: 18px; /* Aumenta el tamaño del texto */
    text-transform: uppercase; /* Texto en mayúsculas */
    transition: color 0.3s ease-in-out; /* Transición suave en el color */
  }
  
  .nav-link:hover {
    color: #ffbb00; /* Color dorado al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  
  /* Para pantallas pequeñas */
  @media (max-width: 768px) {
    .nav {
      flex-direction: column; /* Alinear ítems verticalmente en pantallas pequeñas */
      padding: 15px;
    }
  
    .nav-item {
      margin-bottom: 10px; /* Espacio entre ítems en pantallas pequeñas */
    }
  }

  .swal2-front {
    z-index: 2000 !important;  
  }
  
  
/* dialogo */

.rating-container {
  display: flex;
  align-items: center;
  gap: 10px;  
}

.rating-container p {
  margin: 0; 
}

.dialog-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;  
}

.info-container {
  flex: 1;
}

.image-container {
  flex-shrink: 0;
  max-width: 40%;  
}

.dialog-image {
  width: 100%;
  height: auto;
  max-width: 300px; 
}




  
