<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/carusel3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carusel2.png"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carusel1.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <a href="#">
            <div class="card text-center">
                <div class="card-body">
                    <img src="../../../assets/bebidas.png" alt="carrusel de imágenes" class="card-img-top mb-3">
                    <h5 class="card-title">Bebidas</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <a href="#">
            <div class="card text-center">
                <div class="card-body">
                    <img src="../../../assets/platillos.png" alt="carrusel de imágenes" class="card-img-top mb-3">
                    <h5 class="card-title">Platillos</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="../../../assets/novedades.png" alt="carrusel de imágenes" class="card-img-top mb-3">
                    <h5 class="card-title">Novedades</h5>
                </div>
            </div>
        </div>
    </div>
</div>
