<div class="container border-end custom-container">
  <table class="table custom-table">
    <thead>
      <tr>
        <th scope="col">Platillos</th>
        <th scope="col">Descripción</th>
        <th scope="col">Imágen</th>
        <th scope="col">Precio</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let platillo of listPlatillos">
        <td>{{ platillo.nombre }}</td>
        <td>{{ platillo.descripcion }}</td>
        <td><img [src]="platillo.imagen" alt="{{ platillo.nombre }}" class="table-image"></td>
        <td>{{ platillo.precio | currency }}</td>
        <td>
          <!-- <div class="quantity-container">
            <button class="quantity-button decrement" (click)="decrementQuantity(platillo.id)">-</button>
            <input type="number" id="quantity-input" value="1" class="quantity-input">
            <button class="quantity-button increment" (click)="incrementQuantity(platillo.id)">+</button>
          </div>           -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
