<div class="container">
  <h2 class="text-center mb-4">Carrito de Compras</h2>
  <button (click)="vaciarCarrito()" class="btn btn-danger mb-3">Vaciar Carrito</button>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carritoItems">
        <td><img [src]="item.imgPlatillo || item.imgBebida" alt="Imagen del artículo" class="item-img"></td>
        <td>{{ item.platilloNombre || item.bebidaNombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precioPlatillo || item.precioBebida | currency }}</td>
        <td>{{ (item.cantidad * (item.precioPlatillo || item.precioBebida)) | currency }}</td>
        <td><button (click)="eliminarArticulo(item.itemCarritoId)" class="btn btn-danger btn-sm">Eliminar</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-end">Total:</td>
        <td>{{ total | currency }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
