.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9fad0; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #fc9d1a; 
  }
  
  .btn-danger {
    background-color: #ed6900;
    border: none;
  }
  
  .table thead {
    background-color: #a9c4bd; 
    color: #fc9d1a; 
  }
  
  .table tbody tr {
    background-color: #f9fad0; 
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #fdd051; 
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  .item-img {
    width: 80px; 
    height: auto;
    border-radius: 4px;
  }
  
  .table tfoot {
    background-color: #a9c4bd; 
    color: #fc9d1a; 
  }
  
  .table tfoot td {
    font-weight: bold;
  }
  
  .table .btn-sm {
    padding: 0.2rem 0.5rem; 
  }
  