<div class="container">
  <h2 class="text-center mb-4">Carrito de Compras</h2>
  <button (click)="vaciarCarrito()" class="btn btn-danger mb-3">Vaciar Carrito</button>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carritoItems">
        <td><img [src]="item.imgPlatillo || item.imgBebida" alt="Imagen del artículo" class="item-img"></td>
        <td>{{ item.platilloNombre || item.bebidaNombre }}</td>
        <td>{{ item.precioPlatillo || item.precioBebida | currency }}</td>
        <td>{{ (item.cantidad * (item.precioPlatillo || item.precioBebida)) | currency }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-center align-items-center">
            <button 
              (click)="eliminarArticulo(item.itemCarritoId)" 
              class="btn btn-danger btn-sm me-2"
              aria-label="Eliminar artículo"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
            </svg>
            </button>
        
            <input 
              type="number" 
              [(ngModel)]="item.cantidad" 
              (change)="actualizarCantidad(item.itemCarritoId, item.cantidad)" 
              style="width: 60px; text-align: center;"
              min="1" 
              class="form-control form-control-sm"
              aria-label="Cantidad"
            />
        
            <button 
              class="btn btn-success btn-sm ms-2"
              (click)="actualizarCantidad(item.itemCarritoId, item.cantidad+1)"
              aria-label="Incrementar cantidad"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
              </svg>
            </button>
          </div>
        </td>
        
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-end">Total:</td>
        <td>{{ total | currency }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <div class="total-container">
    <h3>Total: {{ total | currency:'MXN' }}</h3>
    <button (click)="pagar(total)" class="btn btn-primary">Pagar con PayPal</button>
    <button (click)="vaciarCarrito()" class="btn btn-danger">Vaciar Carrito</button>
    <button type="button" class="btn btn-success" [routerLink]="['/']">Continuar Comprando</button>
