.title {
    font-family: 'Lobster', cursive;
    /*font-family: 'Srisakdi', cursive;*/
    color: orange;
  }
  
a {
  color: orange;
}
.nav-link .bi-cart {
  font-size: 1.2em; /* Ajusta el tamaño del icono */
  color: orange;   /* Ajusta el color del icono */
}
