.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px; 
}

.card-img-left {
  width: 150px; 
  height: 100%;
  object-fit: cover; 
}

.card-body {
  background: rgba(249, 250, 208, 0.9);
  padding: 20px;
  border-radius: 0 8px 8px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  color: #fc9d1a;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #ed6900;
  margin-bottom: 0.5rem;
}

.btn-primary {
  background-color: #a9c4bd;
  border: none;
}

.btn-primary:hover {
  background-color: #f9fad0;
}

.btn-danger {
  background-color: #fdd051;
  border: none;
}

.btn-danger:hover {
  background-color: #fc9d1a;
}

button {
  font-size: 16px;
}

.container {
  padding: 0 15px;
}

.mt-4 {
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .card-img-left {
    width: 100px; /* Ajusta el ancho para pantallas más pequeñas */
  }
}
