
<div class="container">
    <div class="sidebar">
        <img src="https://i.ibb.co/R6Xh8rd/logo-removebg-preview.png" alt="Logo">
        <h2>Preguntas Frecuentes</h2>
    </div>
    <div class="content">
        <h1>Preguntas más frecuentes </h1>
        <h2>¿Dónde se encuentra ubicada Poritta Coffee?</h2>
        <p>Nuestra cafetería está ubicada en la ciudad de Dolores Hidalgo. Puedes encontrarnos fácilmente utilizando Google Maps.</p>
        <h2>¿Cuál es el platillo más popular?</h2>
        <p>Nuestro platillo más popular es el pollo a la plancha, que combina ingredientes frescos y sabores únicos que encantan a nuestros clientes.</p>
        <h2>¿Cuál es la zona de cobertura para hacer pedidos?</h2>
        <p>Recuerda que sólo puedes hacer un pedido si te encuentras en la ciudad de Dolores Hidajgo donde Porita Coffe tenga cobertura.</p>
        <h2>¿Cuánto tiempo tardará en llegar mi pedido?</h2>
        <p>El tiempo de entrega puede variar en 30 min a 60 min</p>
    </div>
</div>


