.card {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-weight: bold;
    color: #343a40;
  }
  
  .card-text {
    color: #6c757d;
  }
  
  .custom-button {
    margin-left: 12px;
    margin-top: 12px;
    padding: 10px 20px; /* Ajusta el padding para un botón más estilizado */
    font-size: 16px; /* Tamaño de fuente más legible */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease; /* Transición suave */
  }
  
  .custom-button:hover {
    background-color: hsl(44, 100%, 51%); /* Color más oscuro al hacer hover */
    transform: translateY(-2px); /* Ligero efecto de elevación */
  }
  

  /* Contenedor del grupo de botones */
.button-group {
  gap: 10px; /* Espacio entre los botones */
}

/* Estilo general para los botones */
.action-button {
  border-radius: 8px; /* Bordes redondeados */
  padding: 8px 12px; /* Espaciado interno para un diseño más consistente */
  font-size: 18px; /* Tamaño de icono más legible */
  transition: transform 0.2s ease, box-shadow 0.3s ease; /* Transición suave para la interacción */
}

/* Hover State para los botones */
.action-button:hover {
  transform: translateY(-3px); /* Efecto de elevación */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra sutil al hacer hover */
}
