<button
pButton
  pRipple 
  label="Añadir platillo"
  icon="pi pi-plus"
  class="p-button-warning custom-button" 
[routerLink]="'/añadir-platillo'" 
*ngIf="rol === 'admin'"></button>

<div class="container mt-4">
  <div class="row">
    <div *ngFor="let platillo of listPlatillos" class="col-md-4 mb-4">
      <div class="card shadow-sm h-100 border-0">
        <img [src]="platillo.imagen" class="card-img-top rounded-top" alt="{{ platillo.nombre }}">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{ platillo.nombre }}</h5>
            <p class="card-text text-muted">{{ platillo.descripcion }}</p>
            <p class="card-text"><strong>Precio:</strong> {{ platillo.precio | currency }}</p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button 
            pButton 
              pRipple
              icon="pi pi-pencil"
              title="Editar información"
              class="p-button-success action-button"
            (click)="editPlatillo(platillo.platilloId!)"
            *ngIf="rol === 'admin'"></button>
            <button
            pButton 
            pRipple
            icon="pi pi-trash"
            class="p-button-danger action-button"
            title="Eliminar articulo"
             (click)="deletePlatillo(platillo.platilloId!)" *ngIf="rol === 'admin'">Eliminar</button>       
            <button 
            pButton 
            pRipple
            icon="pi pi-cart-plus"
            title="Agregar al carrito"
            class="p-button-primary action-button"
             (click)="agregarCarrito(platillo.platilloId!)">Agregar al Carrito</button>
            <!-- <app-puntuacion [rating]="platillo.rating || 0" (ratingChange)="onRatingChange(platillo.platilloId!, $event)"></app-puntuacion> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
